.firstArticle {
    display: flex;
    height: 360px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover !important;
}

.firstArticle-hover {
    background: rgba(0,0,0,0.5);
    padding: 15px 25px;
}
.firstArticle-title {
    font-family: 'Montserrat-Medium';
    font-weight: 600;
    font-size: 38px;
    width: 85%;
    line-height: 120%;
}

.firstArticle:hover {
    color: #fff;
}

.news-grid-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
}

.news-block {
    /* padding: 5px; */
    color: black;
    display: flex;
    flex-direction: column;
    /* border-radius: 5px; */
    /* border: 1px solid black; */
}

.news-block:hover {
    color: black;
}

.news-background {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.news-title {
    font-family: "Montserrat-Medium";
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding-top: 10px;
}

.news-flex {
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 15px;
    font-family: "Montserrat-Medium";
    font-weight: 600;
    margin-top: auto;
}

.news-flex span {
    margin-right: 10px;
    padding: 5px;
}

.news-time {
    padding-left: 0px !important;
}

.news-time {
    border-right: 1.5px solid #27C085;
    padding-right: 15px !important;
    font-size: 14px;
}

.news-read {
    font-size: 14px;
    line-height: 15px;
}



@media (max-width: 1270px) {
    .news-grid-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1vw;
    }
}

@media (max-width: 1100px) {
    .news-grid-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1vw;
    }
}