.delete-btn-block {
    height: 42px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    padding-top: 10px;
    padding: 8px 40px;
    border-radius: 5px;
    align-items: center;
    margin: 10px 0 25px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Montserrat-Medium';
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.button-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}