.main-container,
.wrapper {
    width: 100%;
    display: flex;
}

.main-container {
    flex-direction: column;
    min-height: 100vh;
}

.content {
    margin: 20px 40px;
}


.wrapper {
    padding: 20px 40px;
    flex-flow: column;
    padding-bottom: 50px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}

.w-70 {
    width: 70%;
}

.flex-block {
    display: flex;
    padding-top: 30px;
}

.input-blocks {
    width: 400px;
    font-family: 'Montserrat-Medium';
}

.download-img {
    width: 200px;
    margin: 20px;
    height: 200px;
    margin-top: 0px;
    object-fit: cover;
}

.user-name {
    font-size: 26px;
    margin-top: 10px;
    line-height: 27px;
    font-family: 'Montserrat-Bold';
}

.form-group label {
    font-family: 'Montserrat-Bold';
}

.user-departmentName {
    font-size: 18px;
    font-family: 'Montserrat-Bold';
}

.user-status {
    font-size: 18px;
    color: #808080;
    line-height: 22px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: "Montserrat-Bold";

}

@media (max-width: 1270px) {
    .wrapper {
        padding: 20px 30px;
    }

    .grid {
        grid-row-gap: 1em;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}