.titleStyle {
    letter-spacing: 0.05em;
    font-family: 'Montserrat-medium';
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 15px;
    color: var(--mainColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
}


.search {
    width: 288px;
    height: 45px;
    background: #F8F8F8;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat-medium';
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    padding: 0 20px 0 40px;
    background-image: url("./../../assets/img/search.png");
    background-repeat: no-repeat;
    background-position: 0.8em;
}

.search:focus {
    outline: none;
}

.title-block {
    max-height: 300px;
    margin-bottom: 1.5em !important;
}

@media only screen and (max-width: 600px) {
    .titleStyle {
        font-size: 40px;
        line-height: 45px;
    }

    .line {
        border-bottom: 4px solid var(--mainColor);
    }
}

@media only screen and (max-width: 414px) {
    .titleStyle {
        font-size: 33px;
    }
}

@media only screen and (max-width: 360px) {
    .titleStyle {
        font-size: 26px;
    }
}