.user-info-block {
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 20px;
    padding-right: 100px;
    font-family: "Montserrat-medium";
    border-right: 1px solid rgba(0, 0, 0, 0.11);
}

.user-contacts {
    display: flex;
    flex-direction: column;
    padding: 15px 35px;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
}


.user-info b {
    font-family: "Montserrat-bold";
}

.user-info-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
}


.user-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    padding-top: 20px;
    margin-right: 15px;
}

.user-role {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: auto;
}

.user-role .project-span {
    margin-top: 10px;
    margin-left: 20px;
}

.percentage {
    position: absolute;
    color: #0DC21F;
    right: 5px;
    top: -25px;
}

.user-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}