.navigationComponent {
    display: flex;
    position: relative;
    flex-direction: column;
    background: var(--mainColor);
    will-change: transform;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    /* box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, .1), 0 0.25rem 0.5rem rgba(90, 97, 105, .12), 0 0.9375rem 1.375rem rgba(90, 97, 105, .1), 0 0.4375rem 2.1875rem rgba(165, 182, 201, .1); */
    color: #fff !important;
    /* height: 100%; */
    min-height: 100vh;
    text-align: center;
    padding: 10px 20px;
    max-width: 250px;

    /* justify-content: center; */
}


.neobis_logo {
    width: 180px;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.navigationComponent .categories {
    /* padding: .9375rem 1.5625rem; */
    display: flex;
    align-items: center;
    padding: 12px 3px;
    padding-left: 15px;
    /* margin-left: 15px; */
    cursor: pointer;
    color: #fff;
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px
}

.categories img {
    margin-right: 15px;
}

.quote-block {
    /* position: absolute; */
    padding: 5px;
    margin-top: auto;
    padding-right: 15px;
    margin-bottom: 10px;
}

.quote-block img {
    margin-top: 20px;
}

.quote-block span {
    font-size: 16px;
    line-height: 20px;
    font-family: "Montserrat-Medium";
}